@page "/documents"
@rendermode InteractiveServer

<MudThemeProvider />
<PageTitle>Documents</PageTitle>

<h1>Documents</h1>

<MudSelect T="DocumentUrl" Label="Pizza" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter">
    <MudSelectItem Value="@(new DocumentUrl("Cardinale"))" />
    <MudSelectItem Value="@(new DocumentUrl("Diavolo"))" />
    <MudSelectItem Value="@(new DocumentUrl("Margarita"))" />
    <MudSelectItem Value="@(new DocumentUrl("Spinaci"))" />
</MudSelect>

@code {
    public class DocumentUrl
    {
        public string Url { get; }
        public DocumentUrl(string url)
        {
            Url = url;
        }
        // Note: this is important so the MudSelect can compare pizzas
        public override bool Equals(object o)
        {
            var other = o as DocumentUrl;
            return other?.Url == Url;
        }

        // Note: this is important too!
        public override int GetHashCode() => Url?.GetHashCode() ?? 0;

        public override string ToString() => Url;
    }
}
